
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #ffede1;
    background-image: url(./images/pexels-pixabay-266688.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    background-color: #1F2937;
    background-image: url(./images/pexels-pixabay-266688.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main_text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtext{
    font-size: 18px;
    color: #e5e7eb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width:500px;
    height: 250px;
    border-radius: 5%;
}

button{
    background-color: #3882f6;
    color: whitesmoke;
    width: 120px;
    border-radius: 16px;
    border: none;
    font-size: 18px;
    font-weight: lighter;
    padding: 8px 16px;
    margin: 16px 0;
}

.line1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 80px;
}

.hero{
    display: flex;
    flex-flow: column wrap;
    width: 500px;
    justify-content: center;
}

.line2{
    display: flex;
    justify-content: space-between;
    padding: 80px;
}

.infotitle{
    font-size: 36px;
    font-weight: 900;
    color: #1b110a;
    text-align: center;
    margin: 32px 0;
}

.container{
    width: 200px;
    height: 250px;
}

.information{
    display: flex;
    justify-content: center;
    gap: 45px;
    padding-bottom: 32px;
}

.text{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quotesection{
    background-color: #1F2937;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 36px;
    background-image: url(./images/pexels-pixabay-266688.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.quotetext{
    font-size: 36px;
    font-weight: lighter;
    color:#e5e7eb;
    width: 600px;
}

pre{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: 20px;
}

.calltoaction{
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 20px 0;
    margin: 50px auto;
    width: 800px;
}

.actionbutton{
    border: 2px solid whitesmoke;
}

.actiontext{
    color: whitesmoke;
    font-size: 22px;
    font-weight: bold;
}

.actionsubtext{
    color: whitesmoke;
}

footer{
    background-color:#1F2937;
    color: whitesmoke;
    text-align: center;
    padding: 32px;
    margin: 0;
    background-image: url(./images/pexels-pixabay-266688.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
